<div class="about-main"  style="background-image: url(<%= asset_path 'about1.jpg' %>)">
  <img alt="Open" class="icon-menu" src="<%= asset_path 'menu-black.svg' %>" width="24px" />
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6">
        <h1>Always learning</h1>
      </div>
    </div>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <div class="row">
      <div class="content col-md-4">
        <img src="<%= asset_path 'fotoHV.png' %>" style="border-radius:50%; height:180px; width:180px"/>
      </div>
      <div class="content col-md-8">
        <h2>Description</h2>
        <p>Describe background, goals and technical skills</p>
      </div>
    </div>
  </div>
</div>

<div class="about-main" style="background-image: url(<%= asset_path 'about2.jpg' %>)">
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6">
        <h1>public class MyLife</h1>
      </div>
    </div>
  </div>
</div>

<div class="about-supporting">
  <div class="container">
    <div class="row">
      <div class="content col-md-3">
        <img src="<%= asset_path 'explore.png' %>" style="border-radius:50%; height:180px; width:180px"/>
        <p>Explore</p>
      </div>
      <div class="content col-md-3">
        <img src="<%= asset_path 'futbol.png' %>" style="border-radius:50%; height:180px; width:180px"/>
        <p>Play</p>
      </div>
      <div class="content col-md-3">
        <img src="<%= asset_path 'eat.png' %>" style="border-radius:50%; height:180px; width:180px"/>
        <p>Eat</p>
      </div>
      <div class="content col-md-3">
        <img src="<%= asset_path 'dj.png' %>" style="border-radius:50%; height:180px; width:180px"/>
        <p>try { beingDJ } catch {}</p>
      </div>
    </div>
  </div>
</div>
