<!DOCTYPE html>
<html>
  <head>
    <title>Ana Reyes portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="menu">
    <ul>
      <li> <%= link_to "Home", home_path %> </li>
      <li> <%= link_to "Portfolio", portfolio_path %> </li>
      <li> <%= link_to "About", about_path %> </li>
      <li> <%= link_to "Share", share_path %> </li>
    </ul>
    <img alt="Close" class="icon-close" src="<%= asset_path 'close.svg' %>" width="24px" />
  </div>

  <body>
    <script data-turbolinks-track="true" data-turbolinks-suppress-warning="true" src="<%= asset_path 'application.js' %>"></script>
    <%= yield %>
  </body>

  <div class="footer">
    <div class="container">
      <ul class="social_media">
        <li><a class="github" target="_blank" rel="noopener noreferrer" href="https://github.com/amreyesp"></a></li>
        <li><a class="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ana-maría-reyes-parra-07237813b"></a></li>
      </ul>
      <p>&copy Ana María Reyes Parra 2019</p>
    </div>
  </div>
</html>
